// @import "alert";
// @import "avatars";
// @import "badges";
// @import "banner";
// @import "searchbar";
//

// not needed anymore


h2.subtitle {
    color: #949796;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    font: 18px sans-serif;
    margin-top: 30px;
    text-align: center;

    &:before {
        border-top: 1px solid #79B791;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span {
        background: #F6FBFA;
        padding: 5px 15px;
        border: 2px solid #79B791;
    }
}

.step {
  margin-top: 40px;
}

.home {
  color: #004E64;
}

.cat-box {
    border: 1px solid rgba(102, 101, 100, .5);
    border-width: 1px;
    background-color: #fff;
    width: 240px;
    height: 150px;
     display: flex;
  align-items: center;
  justify-content: center;
    &:hover.cat-text {
     box-shadow: inset 0 0 0 25px #B1E4B8;
        transition:all 0.3s ease;
    }
    p {
        position: relative;
        top: 18px;
    }
}

.cat-box-new {
    border: 1px solid rgba(102, 101, 100, .5);
    border-width: 1px;
    background-color: #fff;
     display: flex;
  align-items: center;
  justify-content: center;
    &:hover.cat-text {
     box-shadow: inset 0 0 0 25px #B1E4B8;
        transition:all 0.3s ease;
    }
    p {
        position: relative;
        top: 18px;
    }
}

a:hover{
    text-decoration: none;
}

.cat-text {
    display: none;
}

.flex {
    display: block;
    text-shadow: black 0em 0em 0.1em;
}

.cat-list p {
    text-shadow: black 0em 0em 0.1em;
}

.steps i {
    font-size: 150px;
    color: #79B791;
}

.wedding {
    height: 246px;
    // margin-right: 5px;
    background-image: url("wedding.jpg");
    background-size: cover !important;
}

.music {
    height: 246px;
    // margin-right: 5px;
    background-image: url("music.jpg");
    background-size: cover !important;
}

.education {
    height: 246px;
    // margin-right: 5px;
    background-image: url("edu.jpeg");
    background-size: cover !important;
}

.environment {
    height: 246px;
    // margin-right: 5px;
    background-image: url("envi.jpg");
    background-size: cover !important;
}

.sport {
    height: 246px;
    // margin-right: 5px;
    background-image: url("sport.jpg");
    background-size: cover !important;
}

.family {
    height: 246px;
    // margin-right: 5px;
    background-image: url("family.jpg");
    background-size: cover !important;
}

.panel-radius {
    border-radius: 30px;
}

.panel-radius-top
    {
     border-top-right-radius: 30px;
     border-top-left-radius: 30px;
    }

.cat-box-new-container {
    padding: 5px;
}