.jobs-body{
  margin-top: 50px;
  h4{
    margin: 20px 0;
  }
  h5{
    margin: 20px 0;
    font-weight: bold;
  }
  h6{
    margin-bottom: 5px;
  }
  li{
    margin: 10px 0;
    list-style: none;
  }
}
.banner-jobs {
  color: white;
  text-align: left;
  height: 230px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
  background-image: asset-url('jobs/unsplash_banner.jpeg');
  background-position: 30% 50%;
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
  }
}
.banner-content{
  padding-left: 10px;
}
.job-details {
  display: flex;
  align-items: center;
  padding-left: 0;
  background-color: white;
  border: 1px solid #79B791;
  h1{
    font-size: 20px;
  }
  p{
    color: $gray-light;
    font-size: 15px;
  }
}
.job-user{
  margin: 20px;
  text-align: center;
}
.list-avatar{
  height: 55px;
  width: 55px;
}


