.banner-jobs {
  color: white;
  text-align: center;
  height: 230px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-image: url('jobs/unsplash_banner.jpeg');
  background-position: 30% 50%; 
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
  }
}
