<div class="owners-body">
  <div class="row">
    <div class="col-md-2 col-sm-offset-1">
      <div class="sidebar hidden-xs">
        <ul>
          <h5>CATEGORIES</h5>
<!-- this list should be called with an each statement over each of the categories. Capitals can be changed in css with capitalize -->
          <li><a href="#all" class="active">ALL CATEGORIES</a></li>
          <li><a href="#fun">EDUCATION</a></li>
          <li><a href="#agriculture">ENVIRONMENT</a></li>
          <li><a href="#fun">FAMILY</a></li>
          <li><a href="#festival">FESTIVAL</a></li>
          <li><a href="#fun">FUN</a></li>
          <li><a href="#other">OTHER</a></li>
          <li><a href="#sport">SPORT</a></li>
          <li><a href="#wedding">WEDDING</a></li>
        </ul>
      </div>
    </div>
<!-- this content should change together with the changing href or the class active -->
    <div class="col-md-8">
      <h5>PILOTS > <a href="#all" class="active">ALL CATEGORIES</a></h5>
      <div class="banner-owners">
        <div class="banner-content">
          <h1>All categories</h1>
          <p>Good luck in finding the perfect pilot for the job!</p>
        </div>
      </div>

      <div class="row">
      <% @owners.each do |owner| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
           <!-- style="background-image: url(' owner.drones.photo ');" -->
          <%= image_tag "owners/drone.jpg", class:"card-image"%>
          <%= image_tag "jobs/iris.png", class:"card-avatar"%>
            <!-- image_tag owner.photo, class:"card-user avatar avatar-large" --> 
           <!--  link_to owner profile class: "card-link" --> 
          <div class="card-description">

            <h4><%=owner.first_name%></h4>
            <p>Location: owner.location </p>
            <p>Tags: owner.categories</p>
          </div> 
<!-- this p-content will change with the location and categories when migrated -->
          </div>
        </div>
<!-- show 10max and allow user to show the next 10 etc.  -->
      <% end %>
      </div>
    </div>

    </div>
  </div>
</div>