.bid-details{
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 40px 0;
}
.transparent-top{
  height: 70px;
  background-color: #E7EFEA;
}
.bid-list{
  padding: 15px 30px;
  margin: 50px 0;
  background-color: white;
  border: 1px solid rgba(47,47,47,0.15);
  border-shadow: rgba(51, 51, 51, 0.24);
  border-radius: 10px;
}
.job-user-block{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// drone section

.bid-drone-block{
  padding-top: 10px;
  left: 0;
}

.bid-drone-block-avatar{
  display: table-cell;
  vertical-align: right;
}
.bid-drone-block-description{
  display: table-cell;
  vertical-align: right;
  font-size: 14px;
  padding-right: 10px;
}
.bid-drone-label{
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.9;
}
.bid-drone-value{
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 16px;
  opacity: 0.8;
}
.bid-amount{
  display: flex;
  font-weight: 600;
  color: #505253;
  h3{
    font-size: 30px;
    margin-top: 0;
    font-weight: 600;
    color: #505253;    
  }
}
// bids drone description
.bid-description-block{
  display: flex;
  padding: 10px 0;
  p{
    opacity: 0.8;
  }
}
.bids-description{
  display: flex;
  width: 75%;
}
.bids-drone-description{
  display: flex;
  width: 25%;
  text-align: right;
  align-items: right;
}