.job-specific{
  color: #79B791;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
}
.job-user-block-drone{
  width: 100%;
  display: flex;
  align-items: center;
}
.bid-details{
  margin-bottom: 20px;
  padding: 40px 0;
}
.transparent-top{
  height: 70px;
  background-color: #E7EFEA;
}
.bid-list{
  padding: 15px 40px;
  margin: 50px 75px;
  background-color: white;
  border: 1px solid rgba(47,47,47,0.15);
  border-shadow: rgba(51, 51, 51, 0.24);
  border-radius: 10px;
}
.job-user-block{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// drone section

.bid-drone-block{
  padding-top: 10px;
  left: 0;
}
.bid-drone-block-avatar{
  display: table-cell;
  vertical-align: right;
}
.bid-drone-block-description{
  font-size: 14px;
  padding-right: 10px;
}
.bid-drone-label{
  display: table-cell;
  vertical-align: right;
  margin-left: auto;
  ul{
    padding: 0;
  }
  li{
    list-style: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.9;
    margin-right: 5px;
  }
}
.bid-drone-value{
  display: table-cell;
  vertical-align: right;
  ul{
    padding: 0;
  }
  li{
    list-style: none;
    font-size: 16px;
    opacity: 0.8;
  }
}
.bid-amount{
  display: flex;
  font-weight: 600;
  color: #505253;
  h3{
    font-size: 40px;
    margin-top: 0;
    font-weight: 600;
    color: #505253;    
  }
}
// bids drone description
.bid-description-block{
  display: flex;
  padding: 10px 0;
  p{
    opacity: 0.8;
  }
}
.bids-description{
  display: flex;
  width: 70%;
}
.bids-drone-description{
  display: flex;
  width: 30%;
  text-align: right;
  align-items: right;
}