.jobs-body{
  margin-top: 50px;
  h4{
    margin: 20px 0;
  }
  h5{
    font-weight: bold;
  }
  h6{
    margin-bottom: 5px;
  }
  li{
    margin: 10px 0;
    list-style: none;
  }
}
.job-details {
  align-items: center;
  background-color: white;
  width: 100%;
}
.jobs-details {
  margin: 5px 15px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(47, 47, 47, 0.15);
}
.job-user{
  padding: 5px 15px;
}
.job-user-block{
  padding-top: 10px;
}
.user-block-avatar{
  display: table-cell;
}
.user-block-description{
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
  a{
    margin: 0;
  }
  p{
    margin: 0;
  }
}
.job-description-block{
  h2{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
  }
  h2 a{
    color: black;
  }
  h6 a{
    color: black;
  }
  p{
  color: $gray-light;
  font-size: 15px;
  }
}
.job-footer{
  display: block;
  color: #79B791;
  padding-top: 10px;
}
.job-footer-spec{
  display: inline-block;
  font-size: 13px;
}
.job-footer-bid{
  display: inline-block;
  float: right!important;
  margin-right: 8px;
  font-size: 15px;
}
