<div class="container CTA hidden-xs hidden-sm" id="terms-and-conditions">
  <div class="row row-centered">
    <div class="col-md-3 col-lg-2 col-centered">
      <%= image_tag "pilotCTA.png" %>
    </div>
    <div class="col-md-3 col-lg-4 col-centered">
      <h2>Become a drone pilot</h2>
      <h5>and make beautiful pictures for your neighbours</h5>
    </div>
    <div class="col-md-3 col-lg-2 col-centered">
      <%= link_to "Become a pilot", jobs_path, onclick: "TermsAndConditions()", class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 col-lg-1 col-centered">
      <%= link_to "", "", class: "fa fa-times fa-2x", onclick: "TermsAndConditions()" %>
    </div>
  </div>
</div>
