<% unless cookies[:CallToAction] == "Accepted" %>
  <div class="container CTA hidden-xs hidden-sm" id="call-to-action">
    <div class="wrapper-cta">
      <div class="row">
        <div class="col-md-3 col-lg-2 flex-item">
          <%= image_tag "pilotCTA.png", style: "width:130px;" %>
        </div>
        <div class="col-md-3 col-lg-5 flex-item">
          <h2>Become a pilot</h2>
          <h5>and make beautiful pictures for your neighbours</h5>
        </div>
        <div class="col-md-3 col-lg-2 flex-item">
          <%= link_to "Become a pilot", jobs_path, onclick: "CallToAction()", class: "btn btn-lg btn-primary" %>
        </div>
        <div class="col-md-3 col-lg-1 flex-item">
          <%= link_to "", "", class: "fa fa-times fa-2x", onclick: "CallToAction()" %>
        </div>
      </div>
    </div>
  </div>
<% end %>