<div class="wrapper">
<div class="container padded">
    <div class="row">
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li>Menu<li>
                    <li><%= link_to t(".home", default: "Home"), root_path %></li>
                    <li><%= link_to t(".about", default: "About"), about_path %></li>
                    <li><%= link_to t(".discover", default: "Discover"), discover_path %></li>
                    <li><%= link_to t(".legislation", default: "Legislation"), legislation_path, class: "" %></li>
                </ul>
            </div>
            <vr></vr>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li>Users<li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </div>
    </div>
    <hr>
    <div class="row">
            <div class="col-xs-8">
                <ul class="list-unstyled list-inline pull-left">
                    <li><a href="terms">Terms of Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <p class="text-muted pull-right">© 2016 Drone hubs. All rights reserved</p>
            </div>
        </div>
</div>
</div>