<div class="tab-box">
    <h2 class="subtitle">
      <a href="#" ><span class="tab active" data-target="#pilots">Pilots</span></a>
     <a href="#"data-target="#jobs"> <span class="tab" data-target="#jobs" >Jobs</span></a>
    </h2>
</div>


