<div class="banner discover"></div>

<div class="tab-box tab-profile">  
  <div class="discover-tabs">
    <h2 class="subtitle">
      <a href="#"data-target="#private_use"> <span class="tab discover-tab active" data-target="#private_use">Rules private use</span></a>
      <a href="#"data-target="#commercial_use"> <span class="tab discover-tab" data-target="#commercial_use">Rules commercial use</span></a>
    </h2>
  </div>
</div>

<div class="tab-content" id="private_use">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">
            You must fly at a safe distance from people, railway lines, roads, buildings and other structures. Advice is to keep at least 50 meters away.
          </li>
          <li class="list-group-item">
            You may only fly with your drone if no other aircraft in the area.
          </li>
          <li class="list-group-item">
           A private drone must not weigh more than 25 kilograms. This rule is modified in the short term. Then applies a possible maximum weight of 4 kg for private use. 
          </li>
          <li class="list-group-item">
            You should always be able to see the drone.
          </li>
          <li class="list-group-item">
            You may not fly in the dark.
          </li>
          <li class="list-group-item">
            Do not fly higher than 120 meters above the ground or water.
          </li>
          <li class="list-group-item">
            You should always give priority to all other aircraft, such as airplanes, helicopters, gliders and airships.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tab-content hidden" id="commercial_use">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">
            All private use rules
          </li>
          <li class="list-group-item">
            The pilot has a license.
          </li>
          <li class="list-group-item">
            The drone meet the airworthiness criteria.
          </li>
          <li class="list-group-item"> 
            The pilot has an approved operations manual.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-xs-12" style="padding-bottom:50px;">
      <iframe src="https://www.google.com/maps/d/embed?mid=z-OkUKbx_W-g.kTBB-FV6avFA" width="100%" height="480"></iframe>
    </div>
  </div>
</div>