<div class="container padded">
  <div class="row text-center">
    <div class="col-xs-12">
      <iframe src="https://www.google.com/maps/d/embed?mid=z-OkUKbx_W-g.kTBB-FV6avFA" width="100%" height="480"></iframe>
    </div>
  </div>
</div>