.owners-body{
  margin-top: 50px;
  h4{
    margin: 20px 0;
  }
  h6{
    margin-bottom: 5px;
  }
  li{
    margin: 10px 0;
    list-style: none;
  }
}
.owner-details {
  display: flex;
  align-items: center;
  padding-left: 0;
  background-color: white;
  border: 1px solid #79B791;
  h1{
    font-size: 20px;
  }
  p{
    color: $gray-light;
    font-size: 15px;
  }
}
.owner-user{
  margin: 20px;
  text-align: center;
}
.img-user{
  height: 55px;
  width: 55px;
  margin-left: 20px;
  background-size: cover !important;
  background-image: asset-url('owners/iris.png');
}
.card-owners {
  height: 350px;
  color: white;
  position: relative;
  .img{
    padding: 5px 5px;
  }
  .content{
    padding: 5px 5px;
  }
}
.pilot-block-profile{
  a{
    color: #616668;
  }
}
.pilot-block-specialist{
  padding-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  p{
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    color: #79B791;
    padding-top: 5px;
  }
  span{
    font-size: 14px;
    padding: 0;
    margin-bottom: 3px;
    color: rgba(97, 102, 104, 0.79);
    font-weight: 500;
  }
}
.card-home .pilot-block-profile{
  .user-block-description{
    padding-left: 0;
  } 
  a{
    font-size: 18px;
  }
  p{
    font-size: 15px;
  }
}