// Place all the styles related to the owner/profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-wrapper {
  background-color: #E9E9E9;
  padding-top: 11px;
  margin-top: -11px;
}

.job-drone {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: flex-start;
  img {
    height: 100px;
    width: 100px;
    border-radius: 2px;
  }
}
