.banner {
  color: white;
  background-image: asset-url("dutch-landscape.jpg");
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  text-shadow: grey 0em 0em 0.1em;
  font-weight: bold;
}
.banner-content p{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-bottom: 20px;
}
.banner.search p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.blacklayer {
   background-size: cover !important;
    background: rgba(0,0,0,0.45);
}

.banner.dashboard {
  height: 30vh;
}
.banner-job{
  background-image: asset-url("jobs/amsterdam-map2.png");
  height: 40vh;
  text-align: center;
  background-size: cover !important;
  align-items: center;
  justify-content: center;
  display: flex;
  h1 {
    color: grey;
    font-size: 40px;
    text-shadow: grey 0em 0em 0.1em;
    font-weight: bold;
  }
}
