.banner {
  color: white;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  min-height: 450px;
  background-size: cover !important;
  background-image: asset-url("dutch-landscape.jpg");
}
.banner h1 {
  font-size: 50px;
  text-shadow: grey 0em 0em 0.1em;
  font-weight: bold;
}
.banner-content p{
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}
.banner.search p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.blacklayer {
 background-size: cover !important;
 background: rgba(0,0,0,0.45);
}

.banner.dashboard {
  height: auto;
  padding: 50px 0;
  padding-bottom: 70px;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .banner-content-buttons {
    margin-top: 20px;
    .edit-profile {
      background: white none repeat scroll 0% 0%;
      border: 2px solid white;
      color: black;
      padding: 9px 17px;
    }
    .edit-profile:hover{
      opacity: 0.8;
    }
    .see-profile {
      background: transparent;
      border: 2px solid white;
      color: white;
      padding: 9px 17px;
      margin-left: 10px;
    }
    .see-profile:hover {
      opacity: 0.8;
      background-color: rgba(0,0,0,0.2);
    }
  }
}
.banner.jobs {
  text-align: left;
  justify-content: flex-start;
  height: 230px;
  min-height: 230px;
  margin-bottom: 20px;
  background-image: asset-url('jobs/unsplash_banner.jpeg');
  background-position: 30% 50%;
  .banner-content{
    padding-left: 50px;
  }
}
.banner.pilots {
  text-align: left;
  justify-content: flex-start;
  height: 230px;
  min-height: 230px;
  margin-bottom: 20px;
  background-image: asset-url('owners/pilot.jpeg');
  .banner-content{
    padding-left: 50px;
  }
}
.banner.job{
  height: 40vh;
  background-image: asset-url("jobs/amsterdam-map2.png");
}
.banner.profile {
  height: 40vh;
  flex-direction: column;
}
.banner.discover{
  height: 150px;
  min-height: 100px;
  background-image: asset-url("dutch-landscape.jpg");
  background-position: 50% 0%;
}
// .banner.jobs#all_categories{
//   height: 20vh;
//   background-image: asset-url("jobs/unsplash_banner.jpeg");
//   background-position: 50% 10%;
// }
// .banner.pilots#all_categories{
//   height: 20vh;
//   background-image: asset-url("owners/pilot.jpeg");
//   background-position: 50% 10%;
// }
