.tabs {
  background: #fff;
  display: flex;
  // padding: 10px 10px 0 10px
}
.tabs a {
  color: white;
  transition: all 300ms;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  margin-right: 20px;
}
.tab.active {
  background:  #F6FBFA;
  border: 4px solid $dronegreenb;
  color: black;
  text-decoration: none;
}

.tab-content {
 // background-color: white;
}

.subtitle-tabs {
    color: #949796;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    font: 18px sans-serif;
    margin-top: 30px;
    text-align: center;

    &:before {
        border-top: 1px solid #B1E4B8;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span {
        background: #F6FBFA;
        padding: 5px 15px;
        border: 2px solid #B1E4B8;
    }
}